@import "../../styles/vars";

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: #f5f5f5;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  overflow: auto;
  justify-content: center;

  .content {
    display: inline-block;

    .top {
      text-align: center;

      .header {
        a {
          display: inline-block;
          max-width: 320px;
          text-decoration: none;
          text-align: center;
          color: black;

          .logo {
            height: 36px;
            margin-bottom: 25px;
          }
        }
      }
    }
  }
}
