<h2 style="color: rgba(0,0,0,0.7); font-size: 25px; margin-bottom: 30px; font-weight: bold; line-height: 1.4;">
    Нууц үг сэргээх
</h2>
<h3 style="font-size: 18px; color: rgba(0,0,0,0.5); font-weight: 400;">
    Starter платформ дах таны хэрэглэгчийн нууц үг сэргээх хүсэлт илгээгдлээ. Та "Нууц үг сэргээх"
    холбоос дээр дарж нууц үг сэргээх хуудасруу шилжинэ үү. Хэрэв та нууц үг сэргээх
    хүсэлт илгээгээгүй бол товчийг даралгүйгээр мэйлийг устгах боломжтой юм.
</h3>
<p style="margin-top: 2em;">
    <a th:href="@{${link}}" style="font-size: 20px; font-weight: 400;">
        Нууц үг сэргээх
    </a>
</p>
<h3 style="font-size: 18px;color: rgba(0,0,0,0.5); font-weight: 400;">
    Хэрвээ холбоос ажиллахгүй бол дараах холбоосыг хуулаад вэб хөтөч дээрээ нээнэ үү:
    <text th:text="${link}"></text>
</h3>