<h2 style="color: rgba(0,0,0,0.7); font-size: 25px; margin-bottom: 30px; font-weight: bold; line-height: 1.4;">
    Starter платформд бүртгүүлсэн танд баярлалаа
</h2>
<h3 style="font-size: 18px;color: rgba(0,0,0,0.5); font-weight: 400;">
    Та мэйлээ баталгаажуулснаар манай сайтад шинээр орж буй мэдээллүүд, сайттай холбоотой бүхий л
    мэдээллүүдийг цаг алдалгүй түргэн шуурхай авах болно.
</h3>
<p>
    <a th:href="@{${link}}" style="font-size: 20px; font-weight: 400;">Баталгаажуулах</a>
</p>
<h3 style="font-size: 18px;color: rgba(0,0,0,0.5); font-weight: 400;">
    Хэрвээ холбоос ажиллахгүй бол дараах холбоосыг хуулаад вэб хөтөч дээрээ нээнэ үү:
    <text th:text="${link}"></text>
</h3>